<script src="{{ 'lm-logo-slider.js' | asset_url }}"></script>

{% comment %} START STYLESHEET {% endcomment %}
<style>
  .LM_brandlogos-with-name-main {
      box-shadow: 4px 4px 20px rgba(191, 191, 191, 0.5);
      background: #ffffff;
  }

  .LM_brandlogos-with-name-main .LM_brandlogos-with-name {
      text-align: center;

  }

  .LM_brandlogos-with-name-main .LM_brandlogos-with-name a {
      text-decoration: none;
      color: black;
  }

  .LM_brandlogos-with-name a {
      list-style-type: none;
  }

  .LM_brandlogos-with-name-main .LM_brandlogos-with-name a li img {
      width: 170px;
      margin: 0 auto;
  }

  .LM_brandlogos-with-name-main .LM_brandlogos-with-name a li span {
      margin-top: 15px;
      font-size: 20px;
      display: block;
  }

  img {
      width: 100%;
  }

  .LM_brandlogos-main {
      background-color: black;
      padding: 10px 0;
      margin: 20px 0;
  }

  .LM_brandlogos a {
      text-decoration: none;
      list-style-type: none;
  }

  .LM_brandlogos a li img {
      width: 150px;
  }
</style>
{% comment %} END STYLESHEET {% endcomment %}

{% comment %} LOGO SLIDER START {% endcomment %}
<div class="LM_brandlogos-with-name-main" dir="rtl">
  {% for block in section.blocks %}
  <div class="LM_brandlogos-with-name">
      <a href="#">
          <li>
            <img src="{{ block.settings.image  | img_url: 'medium'}}" alt="">
          </li>
      </a>
  </div>
{% endfor %}
</div>

{% comment %} LOGO SLIDER END {% endcomment %}
<div id="root"></div>


{% schema %}
{
  "name": "👉 ĹМ Logo Slider",
  "tag": "section",
  "settings": [
  
  ],

  "blocks": [
    {
      "name": "Add Slider image",
      "type": "Slider_image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Add Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "👉 ĹМ Logo Slider",
      "blocks": [
        {
          "type": "Slider_image"
        }
      ]
    }
  ]
}
{% endschema %}
